In [40]:
"""
Difference in travel times to the closest shopping center between
- public transport and car
- public transport and walking

Map layers
- Shopping center dominance areas (by public transport travel time)
- Difference in travel time btw public transport and car
- Difference in travel time btw public transport and walking

Author: Tarja Turunen, 6.12.2021
"""

import geopandas as gpd
import pandas as pd
from pyproj import CRS
import matplotlib.pyplot as plt
import mapclassify
import glob

In [41]:
# file paths
fp_dominant_services = r"data/dominant_services.geojson"

# import data
dominant_services = gpd.read_file(fp_dominant_services)

In [42]:
# subset data
dominant_services = dominant_services[["YKR_ID", "dominant_service", "min_t", "geometry"]]

In [43]:
# rename column
dominant_services.rename(columns={"min_t":"public_travel_t"}, inplace=True)

In [44]:
# add columns for walk and car
dominant_services["walk_t"] = None
dominant_services["car_t"] = None

In [45]:
# clean dominant service column
dominant_services["dominant_service"] = dominant_services["dominant_service"].apply(lambda x: x[7:])

dominant_services.head()

,YKR_ID,dominant_service,public_travel_t,geometry,walk_t,car_t
0,5785640,Myyrmanni,90.0,"POLYGON ((382000.000 6697750.000, 381750.000 6...",None,None
1,5785641,Myyrmanni,93.0,"POLYGON ((382250.000 6697750.000, 382000.000 6...",None,None
2,5785642,Myyrmanni,95.0,"POLYGON ((382500.000 6697750.000, 382250.000 6...",None,None
3,5785643,Myyrmanni,99.0,"POLYGON ((382750.000 6697750.000, 382500.000 6...",None,None
4,5787544,Myyrmanni,83.0,"POLYGON ((381250.000 6697500.000, 381000.000 6...",None,None

In [92]:
# fetching file paths for travel time data
filepaths = glob.glob(r"data/TravelTimes_to*.txt")

for fp in filepaths:
    # read in the file
    data = pd.read_csv(fp, sep=";")
    data = pd.read_csv(fp, sep=";", index_col=["from_id"])
    # subset data
    data = data[["walk_t", "car_r_t"]]
    # rename from_id to YKR_ID
    #data.rename(columns={"from_id":"YKR_ID"}, inplace=True)
    
    # getting the name of the shopping center
    # splitting the file path by underscore
    name = fp.split("_")
    # getting the part after the last underscore
    name = name[-1]
    # getting rid of the .txt at the end of the string
    name = name[:-4]
    
    for idx, row in dominant_services.iterrows():
        
        if name == row["dominant_service"]:
            
                       
            dominant_services.loc[idx, "walk_t"] = data.loc["5785640", ["walk_t"]]
            #row["car_t"] = data.loc[data["from_id"] == row["YKR_ID"], ["car_r_t"]]
            #dominant_services.loc[idx, "walk_t"] = name

KeyError: '5785640'

In [73]:
dominant_services

,YKR_ID,dominant_service,public_travel_t,geometry,walk_t,car_t
0,5785640,Myyrmanni,90.0,"POLYGON ((382000.000 6697750.000, 381750.000 6...",Myyrmanni,None
1,5785641,Myyrmanni,93.0,"POLYGON ((382250.000 6697750.000, 382000.000 6...",Myyrmanni,None
2,5785642,Myyrmanni,95.0,"POLYGON ((382500.000 6697750.000, 382250.000 6...",Myyrmanni,None
3,5785643,Myyrmanni,99.0,"POLYGON ((382750.000 6697750.000, 382500.000 6...",Myyrmanni,None
4,5787544,Myyrmanni,83.0,"POLYGON ((381250.000 6697500.000, 381000.000 6...",Myyrmanni,None
...,...,...,...,...,...,...
13015,6016697,IsoOmena,40.0,"POLYGON ((372750.000 6665500.000, 372500.000 6...",IsoOmena,None
13016,6016698,IsoOmena,38.0,"POLYGON ((373000.000 6665500.000, 372750.000 6...",IsoOmena,None
13017,6016699,IsoOmena,40.0,"POLYGON ((373250.000 6665500.000, 373000.000 6...",IsoOmena,None
13018,6018253,IsoOmena,43.0,"POLYGON ((372750.000 6665250.000, 372500.000 6...",IsoOmena,None
13019,6018254,IsoOmena,42.0,"POLYGON ((373000.000 6665250.000, 372750.000 6...",IsoOmena,None

In [81]:
data

       walk_t  car_r_t
0         318       39
1         281       39
2         282       45
3         286       46
4         311       38
...       ...      ...
13226     464       58
13227     466       60
13228      -1       -1
13229     469       59
13230     467       61

[13231 rows x 2 columns]